# github

.github/

# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# replit

.replit
.project
.classpath
.settings/
.breakpoints
replit.nix
jdk-18/

# reference
reference/